{% extends "base/base.html" %}

{% block title %}
Ebooks
{% endblock %}

{% block main %}
<header>
  {% for category, message in get_flashed_messages(with_categories=True) %}
  <div class="alert alert-{{category}}"><h2>{{ message }}</h2></div>
  {% endfor %}
</header>
<main class="container-fluid">
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">ISBN</th>
      <th scope="col">TITLE</th>
      <th scope="col">AUTOR</th>
      <th scope="col">YEAR</th>
    </tr>
  </thead>
  <tbody>
    {%for books in book %}
    <tr>
      <th scope="row">{{books.id_books}}</th>
      <td>{{books.isbn}}</td>
      <td><a href="/BooksPages/{{books['isbn']}}" >{{books.title}}</a></td>
      <td>{{books.autor}}</td>
      <td>{{books.year}}</td>
    </tr>
    {%endfor%}
  </tbody>
</table>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item ">
      {% if book.has_next %}<a class="page-link" href="{{ url_for('/', page=pagination.next_num) }}" tabindex="-1">Previous</a> {% else %} <a class="page-link disabled" href="#" tabindex="-1">Previous</a> {% endif %}
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      {% if book.has_next %}<a class="page-link" href="{{ url_for('/', page=pagination.next_num) }}" tabindex="-1">Next</a> {% else %} <a class="page-link disabled" href="#" tabindex="-1">Next</a> {% endif %}
    </li>
  </ul>
</nav>
</main>
{%endblock%}